@use "../utils/reset";

body,
html {
	width: 100vw;
	height: auto;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-family: "Karla", sans-serif;
	overflow-x: hidden;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-width: 100%;
}
